@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;700&family=Montserrat:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  /* background: #34495e; */
  background: -webkit-linear-gradient(120deg, #507494, #34495e);
  color: white;
}

.header {
  position: fixed;
  padding: 30px;
  width: 100%;
  background: transparent;
  /* box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5); */
  display: flex;
  justify-content: center;
  word-spacing: 20px;
}

.navbar a {
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
  color: white;
  transition: 0.5s;
  text-shadow: 2px 2px 5px rgb(32, 32, 32);
}

.navbar a:hover {
  color: #82b7eb;
}

.description {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 100vh;
  padding: 0 10%;
}

.description-information {
  max-width: 500px;
}

.description-information h1 {
  font-size: 50px;
}

.description-information h3 {
  font-size: 30px;
  color: rgb(255, 255, 68);
}

.description-information p {
  font-size: 18px;
  margin: 20px 0 40px;
}

.btn-cv a {
  background: #3392f1;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 180px;
  border-radius: 20px;
  text-decoration: none;
  font-weight: 900;
  color: #34495e;
  transition: 0.3s;
}

.btn-cv a:hover {
  color: white;
}

.description-photo .masking {
  -webkit-mask-image: url(images/brush-stroke.png);
  -webkit-mask-size: 180%;
  -webkit-mask-position: 50% 50%;
}

.description-photo img {
  /* border-radius: 40%; */
  animation: floatImage 4s ease-in-out infinite;
}

@keyframes floatImage {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(1rem);
  }
  100% {
    transform: translateY(0);
  }
}

.description-photo p {
  text-align: center;
  margin-top: 10px;
  font-size: 18px;
  font-weight: 500;
}

footer {
  padding: 30px;
  width: 100%;
  text-align: center;
  background: #34495e;
}

.footer-social {
  margin-bottom: 25px;
  word-spacing: 10px;
}
